.text {
  font-weight: bold;
  font-size: 3rem;
  color: #485e56;
  padding-block: 6rem 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.text:nth-of-type(2n + 1) {
  /* od lewej */
  align-self: flex-start;
  padding-left: 30%;
}

.text:nth-of-type(2n) {
  /* od prawej */
  align-self: flex-end;
  padding-right: 30%;
}

.text::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11rem;
  height: 0.25rem;
  top: calc(50% + 0.25rem);
  left: -14rem;
  background-color: #485e56;
  @media screen and (max-width: 768px) {
    width: 5rem;
    left: -7rem;
  }
}

.text::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11rem;
  height: 0.25rem;
  top: calc(50% + 0.25rem);
  right: -14rem;
  background-color: #485e56;
  @media screen and (max-width: 768px) {
    width: 5rem;
    right: -7rem;
  }
}
