.drawer {
  width: 80%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #53665f;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-top: 10rem;
  z-index: 100;
  transition: right 0.2s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  filter: invert(100%);
  width: 1.3rem;
  height: 1.3rem;
}

.active {
  right: 0;
}
